body{
	width: 660px;
	margin: 15px auto;
	box-shadow: 0 0 10px 5px #eee;
	font-size: 14px;
}
h1, h2{
	text-align: center;
}
h1{
	padding-top: 20px;
}
p{
	margin: 0 0 15px 0;
}
.content{
	width: 600px;
	margin: 0px auto;
}
header .left{
	float: left;
}
header .right{
	float: right;
}
header .right figure{
	margin: 0;
}
main{
	padding-bottom: 10px;
}
.clear{
	clear: both;
	content: '';
	display: table;
}


